{% extends "base.html" %}

{% block content %}

<h1>Products</h1>

{% if products %}

<div class="products">
    {% for product in products %}

    <div class="card">
        <img src="{{ url_for('static', filename=product.image) }}" alt="">

        <div class="card-content">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p class="price">₹{{ product.price }}</p>

            <a href="/add-to-cart/{{ product.id }}" class="btn">Add to Cart</a>
        </div>
    </div>

    {% endfor %}
</div>

{% else %}
<p style="padding:30px;">No products found</p>
{% endif %}

{% endblock %}